.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.d{
  text-decoration-line: underline;
}
.icon{
  height: 70px;
}
.navli{
  margin-right: 0px 0px;
}
.new{
  height: 400px;
  width: 100%;
}
.pb-full {
  padding-bottom: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
  margin: 25px;
}
/* .blog{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  
} */
/* .textt{
  display: flex;
  margin: 10px 100px;
  color: red;
 
} */
.lg{
  
  background-image:  url('https://images.unsplash.com/photo-1592819695396-064b9572a660?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8d3JpdGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');;
  background-repeat: no-repeat;
  background-size: cover;
}
.sg{
  
background-image: url('https://wallpaperaccess.com/full/2314983.jpg');
background-repeat: no-repeat;
background-size: cover;
}